header {
    display: flex;
    justify-content: space-between;
    background-color: #0614cb;
    border-bottom: 10px solid #000;
    padding: 3px 20px;
}

nav {
    text-align: right;
}

img{
    height: 60px;
    width: 60px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 18px;
    transition: 150ms linear;
    
}

a:hover{
    transform: scale(1.1);
}

a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 2px;
}


#button {
    display: inline-block;
    background-color: #F25A70;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 1px black;
    border-radius: 6px;
    transition: transform 200ms cubic-bezier(.45,.97,.68,2.48);
}

#button:hover{
    box-shadow:
                4px 4px black,
                4px 4px black,
                5px 5px black;
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
}
