header {
    display: flex;
    justify-content: space-between;
    background-color: #5090BE; 
    border-bottom: 10px solid #000;
    padding: 3px 20px;
}

nav {
    text-align: right;
}

img{
    height: 60px;
    width: 60px;
}
        
a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 18px;
    transition: 150ms linear;
    
}

a:hover{
    transform: scale(1.1);
}

a::before{
    content: "";
    background-color: #e2e2e2;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 2px;
}