.action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 18px;
    transition: 150ms linear;
    
}

.action:hover{
    transform: scale(1.1);
}

.action::before{
    content: "";
    background-color: #e2e2e2;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 2px;
}