.main-box {
    display: inline-block;
    text-align: center;
    background-color: #3A4042;
    padding: 35px 18px;
    box-shadow: 10px 10px 0px #000000;
    transition: transform 250ms cubic-bezier(.25,.1,.11,2.43), box-shadow 250ms ease-in-out;
}

.main-box .main-title {
    margin-bottom: 45px;
}

.main-box:hover {
    transform: scale(1.03);
    box-shadow: 16px 16px 0px #000000;
}