.menu-action {
    color: #FFF;
    display: list-item;
    font-size: 20px;
    font-weight: 500px;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 10px;
    padding: 0 5px;
    transition: 200ms linear;
}

.menu-action:hover{
    transform: scale(1.08);
}