.main-carousel .main-arrow {
    position: absolute;
    cursor: pointer;
}

.main-carousel .main-arrow.-left {
    top: 50%;
    left: 0px;
    margin-left: 50px;
}

.main-carousel .main-arrow.-right {
    top: 50%;
    right: 0px;
    margin-right: 50px;
}